/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/*html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}*/

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-color: #222;
}

.container-fluid {
    padding: 0;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 3.5em;
    color: white;
    margin-bottom: 0px;
    margin-top: 20px;
    text-shadow: 2px 1px 2px black;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* Navbar du site */

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.navbar-toggle {
    z-index: 3;
}

.navbar {
    border-radius: 0px;
    background-color: #e85112;
    border: 0px solid #222;
    box-shadow: 0 0 5px #222;
}

.navbar-left li:hover {
    background-color: #222;
}

.navbar-left a:hover {
    color: white!important;
}

.navbar a {
    text-transform: uppercase;
    color: white !important;
    font-family: "Opens Sans", sans-serif;
    font-size: 1em;
}

.navbar-right {
    margin-right: 10px;
}

.navbar-right i {
    font-size: 1.5em;
}

.navbar-right a {
    padding-bottom: 0px !important;
}

.navbar-brand {
    font-size: 1.2em !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle {
    border: 0px;
}


/* Header du site */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/header.png);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 520px;
    background-position: top;
    background-color: #e85112;
}

header img:first-child {
    height: 175px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);
    border: 15px solid #222;
    background-color: #222;
}

header h2 {
    margin-top: 5px;
    color: white;
    font-size: 2.5em;
    text-shadow: 2px 1px 2px black;
}

header p {
    font-family: "Opens Sans", sans-serif;
    color: white;
    font-size: 1.2em;
    text-shadow: 2px 1px 1px #000;
}

.separator-header {
    width: 70%;
    height: 1px;
    margin-top: 30px;
    background-color: white;
}


/* Section 1 du site */

.accueil {
    background-color: #222;
    margin-bottom: 70px;
    padding-left: 0px;
    padding-right: 0px;
}

.accueil-index h2 {
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-shadow: 0px 3px 5px #000;
}

.block-accueil:hover {
    background-color: #E85112;
}

.block-accueil {
    height: 600px;
    color: white;
    box-shadow: 0 0 13px black;
    background-color: #222;
}

.block-accueil h3 {
    text-align: center;
}

.block-accueil p {
    font-size: 0.9em;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
}

.time {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-image: url(../img/clock.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}

.birthday {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-image: url(../img/present.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}

.themes {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-image: url(../img/light-bulb.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}

.separator-accueil {
    width: 20%;
    height: 1px;
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}


/*Index Section Bowling*/

.img-bowling1 {
    height: 250px;
    background-image: url(../img/bowling.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-bowling2 {
    height: 250px;
    background-image: url(../img/cadeau.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-bowling3 {
    height: 250px;
    background-image: url(../img/enfant-bowling.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-bowling-index {
    margin-bottom: 70px;
    background-color: #222;
    box-shadow: 0 0 13px black;
    color: white;
}

.section-bowling-index:hover {
    margin-bottom: 70px;
    background-color: #E85112;
    box-shadow: 0 0 13px black;
}

.section-bowling-index h3 {
    text-transform: uppercase;
    padding-left: 0px;
    padding-top: 15px;
}

.section-bowling-index p {
    padding-top: 20px;
    padding-left: 0px;
    font-size: 0.9em;
    padding-bottom: 20px;
}

.section-bowling-index button {
    color: #e85112;
    background-color: white;
    border-radius: 0px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.section-bowling-index button:hover {
    color: #E85112;
    background-color: white;
}

.separator-index {
    height: 1px;
    background-color: white;
}


/*Caroussel Section Bowling*/

.slide-index {
    margin-bottom: 30px;
}

.carousel-caption {
    background-color: #e85112;
    opacity: 0.8;
}

.carousel-caption h3 {
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    line-height: 30px;
}

.carousel-caption p {
    font-size: 1.1em;
    padding-left: 20px;
    padding-right: 20px;
}


/* Nos soirées hover text */

.index-hover {
    margin-bottom: 70px;
}

.cuadro_intro_hover {
    margin-top: 40px;
    padding: 0px;
    position: relative;
    overflow: hidden;
    height: 200px;
    box-shadow: 0 0 13px black;
}

.cuadro_intro_hover p {
    display: block;
    text-align: center;
    font-size: 0.9em;
}

.cuadro_intro_hover:hover .caption {
    opacity: 1;
    transform: translateY(-150px);
    -webkit-transform: translateY(-150px);
    -moz-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    -o-transform: translateY(-150px);
}

.cuadro_intro_hover img {
    z-index: 4;
}

.caption-text a {
    border-radius: 0px;
    border: 0px;
    background-color: #e85112;
    color: white;
    width: 50%;
}

.caption-text p {
    padding-left: 20px;
    padding-right: 20px;
}

.cuadro_intro_hover .caption {
    position: absolute;
    top: 150px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.cuadro_intro_hover .blur {
    background-color: #222;
    opacity: 0.9;
    height: 300px;
    z-index: 5;
    position: absolute;
    width: 100%;
}

.cuadro_intro_hover .caption-text {
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 300px;
    text-align: center;
    top: -20px;
    width: 100%;
}

.caption-text h3 {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px;
    font-size: 1.3em;
    text-transform: uppercase;
    line-height: 25px;
}


/* footer */

footer {
    height: 50px;
    background-color: #e85112;
    color: white;
    padding-top: 15px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: white;
}


/* Page Contact */

.plan {
    height: 100vh;
    color: white;
    background-color: #222;
}

.titre_contact,
.titre_plan_acces {
    margin-top: 10vh;
}

.block_contact {
    padding: 5vh;
    margin: 5vh 0;
    width: 80vh;
    height: auto;
    color: white;
    box-shadow: 0 0 13px black;
    background-color: #222;
}

.mail_contact:hover {
    color: #761000 !important;
    text-decoration: none;
}

.titre_locomotion {
    text-decoration: underline;
}

.infos {
    height: 100vh;
    color: white;
    background-color: #222;
}

.infos a {
    text-decoration: none;
    color: #761000;
}

.info_miniblock {
    height: 35vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.info_miniblock h4 {
    margin-top: 14vh !important;
    color: transparent;
}

.titredescript:hover {
    margin-top: 14vh !important;
    text-decoration: none;
    color: #ff6633;
}

.img1 {
    background-image: url(../img/anniversaire_kids.jpg);
}

.img2 {
    background-image: url(../img/rampebowling.jpg);
}

.img3 {
    background-image: url(../img/piste_bowling.jpg);
}

.img4 {
    background-image: url(../img/ramp-bowl.jpg);
}

.img5 {
    background-image: url(../img/repas.jpg);
}

.img6 {
    background-image: url(../img/coktails.jpg);
}

.img7 {
    background-image: url(../img/chaussure_bowling.jpg);
}

.img8 {
    background-image: url(../img/ligue_bowling.png);
}

.info_miniblock:hover {
    opacity: 0.5;
}


/* responsive */

@media (max-width: 1000px) {
    .block-accueil {
        color: white;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .time {
        margin-top: 20px;
    }
    .birthday {
        margin-top: 20px;
    }
    .themes {
        margin-top: 20px;
    }
    .section-bowling-index {
        margin-bottom: 30px;
    }
    .slide-index {
        display: none;
    }
    header {
        height: 625px;
    }
    header h1 {
        font-size: 3em;
    }
    header h2 {
        font-size: 2.3em;
    }
    header p {
        display: block;
        max-width: 75%;
        margin: 0 auto;
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}